{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div id="main-wrapper">

<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="./static/img/cv_image.jpg" class="img-responsive" alt=""/>
                </div>
                <!-- Profile Image -->
            </div>
            <div class="col-md-9">
                <div class="name-wrapper">
                    <h1 class="name">Omar RACHED</h1>
                    <span>QA engineer, DevOps oriented</span>
                </div>
                <p>
                    Credibly embrace visionary internal or "organic" sources and business benefits. Collaboratively
                    integrate efficient portals rather than customized customer service. Assertively deliver
                    frictionless services via leveraged interfaces. Conveniently evisculate accurate sources and
                    process-centric expertise.Energistically fabricate customized imperatives through cooperative
                    catalysts for change.
                </p>


                <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>OCTOBER 17, 1996</strong>
                            <small>BIRTH</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>UNITED KINGDOM</strong>
                            <small>NATIONALITY</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>ENGLISH <span>(NATIVE)</span>, FRENCH <span>(INTERMEDIATE)</span></strong>
                            <small>LANGUAGE</small>
                        </div>
                    </div>
                </div>

                <ul class="social-icon">
                    <li><a href="#"><i class="fa fa-facebook" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-slack" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fa fa-dribbble" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- .header-->

<section class="expertise-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Specialities</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Software Test Strategy</h3>
                            <p>
                                Synergistically strategize customer directed resources rather than principle.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Testware Development</h3>
                            <p>
                                Quickly repurpose reliable customer service with orthogonal ideas. Competently.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Continuous Integration & Deployment</h3>
                            <p>
                                Interactively myocardinate high standards in initiatives rather than next-generation.
                            </p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Coaching</h3>
                            <p>
                                Dynamically initiate client-based convergence vis-a-vis performance based. </p>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <!-- .row -->
    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-wrapper">
                            <h3>Testing</h3>
                            <div class="progress-item">
                                <span class="progress-title">End-to-End</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%"><span
                                            class="progress-percent"> 90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Integration</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%"><span
                                            class="progress-percent"> 90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Unit test</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 55%;"><span
                                            class="progress-percent"> 55%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Automation</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 75%;"><span
                                            class="progress-percent"> 75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                    <div class="col-md-6">
                        <div class="progress-wrapper">
                            <h3>Coding</h3>
                            <div class="progress-item">
                                <span class="progress-title">Python</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 70%"><span
                                            class="progress-percent"> 70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Java</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 55%"><span
                                            class="progress-percent"> 55%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Front-end web Development</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 50%;"><span
                                            class="progress-percent"> 50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">SQL (PL/SQL && T-SQL)</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 75%;"><span
                                            class="progress-percent"> 75%</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                </div>
                <!--.row -->
            </div>
        </div>

    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2015 - Present</small>
                            <h3>Senior Developer</h3>
                            <h4>Computer & Motor Ltd.</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2012 - 2015</small>
                            <h3>Webdesigner</h3>
                            <h4>BizzNiss</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <div class="row">

                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2012 - 2015</small>
                            <h3>Web Developer</h3>
                            <h4>Unique Soft</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2010 - 2012</small>
                            <h3>Front-end Developer</h3>
                            <h4>Somsom LLC</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
            </div>
            <!--.row-->
        </div>
    </div>
    <!-- .container -->
</section>
<!-- .section-experience -->

<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Education</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-12">
                        <div class="content-item">
                            <small>2010 - 2012</small>
                            <h3>MA Product Design</h3>
                            <h4>University of California</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2007 - 2010</small>
                            <h3>Business marketing course</h3>
                            <h4>Royal Academy of Business</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                        <div class="content-item">
                            <small>2002 - 2006</small>
                            <h3>BA (Hons) Design</h3>
                            <h4>University of Michigan</h4>

                            <p>United Kingdom, London</p>
                        </div>
                        <!-- .experience-item -->
                    </div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-education -->

<section class="section-profile section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Marketplace Profile</h2></div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/m-logo-studio.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">ENVATO STUDIO</a></h3>
                                    Seamlessly formulate covalent outsourcing vis-a-vis virtual resources. Distinctively conceptualize.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/m-logo-freelancer.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">FREELANCER</a></h3>
                                    Seamlessly formulate covalent outsourcing vis-a-vis virtual resources. Distinctively conceptualize.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/m-logo-upwork.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">UPWORK</a></h3>
                                    Seamlessly formulate covalent outsourcing vis-a-vis virtual resources. Distinctively conceptualize.
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="profile-item">
                            <div class="media">
                                <div class="media-left">
                                    <a href="#">
                                        <img class="media-object" src="img/m-logo-peopleperhour.png" alt="...">
                                    </a>
                                </div>
                                <div class="media-body">
                                    <h3 class="media-heading"><a href="#">PEOPLEPERHOUR</a></h3>
                                    Seamlessly formulate covalent outsourcing vis-a-vis virtual resources. Distinctively conceptualize.
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!--.row-->
            </div>

        </div>
        <!--.row-->
    </div>
    <!-- .container -->
</section>
<!-- .section-profile -->

<section class="section-contact section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>

            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-3">
                        <address>
                            <strong>Address</strong><br>
                            1355 Market Street, Suite 900<br>
                            San Francisco, CA 94103

                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Phone Number</strong><br>
                            +61 3 8376 6284
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Mobile Number</strong><br>
                            987 654 321
                        </address>
                    </div>
                    <div class="col-md-3">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:#">coffee@amelie.me</a>
                        </address>
                    </div>

                </div>
                <!--.row-->

                <div class="feedback-form">
                    <h3>GET IN TOUCH</h3>

                    <form id="contactForm" action="sendemail.php" method="POST">
                        <div class="form-group">
                            <input type="text" name="name" required="" class="form-control" id="InputName"
                                   placeholder="Full Name">
                        </div>
                        <div class="form-group">
                            <input type="email" name="email" required="" class="form-control" id="InputEmail"
                                   placeholder="Email">
                        </div>
                        <div class="form-group">
                            <input type="text" name="subject" class="form-control" id="InputSubject"
                                   placeholder="Subject">
                        </div>
                        <div class="form-group">
                            <textarea class="form-control" rows="4" required="" name="message" id="message-text"
                                      placeholder="Write message"></textarea>
                        </div>

                        <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <!-- .feedback-form -->

            </div>
        </div>
        <!--.row-->

    </div>
    <!--.container-fluid-->
</section>
<!--.section-contact-->

<footer class="footer">

</footer>
<!-- .footer -->

</div>
<!-- #main-wrapper -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
{% endblock %}