{% extends "base.html" %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
<div id="main-wrapper">
<header class="header">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="profile-img">
                    <img src="./static/img/cv_image.jpg" class="img-responsive" alt=""/>
                </div>
                <!-- Profile Image -->
            </div>
            <div class="col-md-9">
                <div class="name-wrapper">
                    <h1 class="name">Omar RACHED</h1>
                    <span>QA engineer, DevOps oriented</span>
                </div>
                <p>
                    Good mastery of the operational actions in all levels of Software Test Life Cycle:
                    Requirements analysis, Test planning, Test design, Datasets construction, Test environment setup, Test execution, 
                    Bugs management, reporting.<br>
                    Ability to perform functional and technical tests and automation.
                </p>
                <div class="row">
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong>MAY 12, 1989</strong>
                            <small>BIRTH</small>
                        </div>
                    </div>
                    <div class="col-md-3">
                        <div class="personal-details">
                            <strong><img src="./static/img/flags/ma.svg" height="13" weight="16" alt="Arabic"/> MOROCCO</strong>
                            <small>NATIONALITY</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="personal-details">
                            <strong>
                                <img src="./static/img/flags/gb.svg" height="13" weight="16" alt="English"/> PROFESSIONAL 
                                <img src="./static/img/flags/fr.svg" height="13" weight="16" alt="French"/>  BILINGUAL 
                                <img src="./static/img/flags/ae.svg" height="13" weight="16" alt="Arabic"/>  BILINGUAL
                            </strong>
                            <small>LANGUAGE</small>
                        </div>
                    </div>
                </div>
                <ul class="social-icon">
                    <li><a href="https://www.linkedin.com/in/orached"><i class="fab fa-linkedin" aria-hidden="true"></i></a></li>
                    <li><a href="https://github.com/orached"><i class="fab fa-github" aria-hidden="true"></i></a></li>
                    <li><a href="https://twitter.com/orached"><i class="fab fa-twitter" aria-hidden="true"></i></a></li>
                    <li><a href="#"><i class="fab fa-stack-overflow" aria-hidden="true"></i></a></li>
                    <li><a href="https://www.instagram.com/orached"><i class="fab fa-instagram" aria-hidden="true"></i></a></li>
                </ul>
            </div>
        </div>
    </div>
</header>
<!-- .header-->

<section class="expertise-wrapper section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Specialities</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Software Test Strategy</h3>
                            <p>Implement an efficient test strategy in accordance with the technological constraints and project risks.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Testware Development</h3>
                            <p>Design and manage accurate test cases according to end-users requirements. Implement and maintain test scripts in dev repository</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Continuous Integration & Deployment</h3>
                            <p>Interactively contribute to CI and CD by including test execution and reporting for every build.</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="expertise-item">
                            <h3>Automation</h3>
                            <p>Automate wisely pre-targeted test cases to avoid regression.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .expertise-wrapper -->

<section class="section-wrapper skills-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Skills</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="progress-wrapper">
                            <h3>TESTING</h3>
                            <div class="progress-item">
                                <span class="progress-title">End-to-End</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%"><span
                                            class="progress-percent"> 90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Integration</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="90" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 90%"><span
                                            class="progress-percent"> 90%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Unit test</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 55%;"><span
                                            class="progress-percent"> 55%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Automation</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 75%;"><span
                                            class="progress-percent"> 75%</span>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                    <div class="col-md-6">
                        <div class="progress-wrapper">
                            <h3>SCRIPTING</h3>
                            <div class="progress-item">
                                <span class="progress-title">Python</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="70" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 70%"><span
                                            class="progress-percent"> 70%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Java</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="55" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 55%"><span
                                            class="progress-percent"> 55%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">Front-end</span>
                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="50" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 50%;"><span
                                            class="progress-percent"> 50%</span>
                                    </div>
                                </div>
                            </div>
                            <div class="progress-item">
                                <span class="progress-title">SQL (PL/SQL && T-SQL)</span>

                                <div class="progress">
                                    <div class="progress-bar" role="progressbar" aria-valuenow="75" aria-valuemin="0"
                                         aria-valuemax="100" style="width: 75%;"><span
                                            class="progress-percent"> 75%</span>
                                    </div>
                                </div>
                            </div>

                        </div>
                        <!-- /.progress-wrapper -->
                    </div>
                </div>
                <!--.row -->
            </div>
        </div>

    </div>
    <!-- .container-fluid -->
</section>
<!-- .skills-wrapper -->

<section class="section-wrapper section-experience">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Work Experience</h2></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-title">
                            <h3>ETL TESTER</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-title">
                            <h3>2018 - 2019</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <u1>
                                <li>Definition of the qualification strategy</li>
                                <li>Performing Test tasks in all levels of ETL process</li>
                                <li>Realization of complex scripts for data analysis</li>
                                <li>Administering projects in the test tool</li>
                                <li>Bug management</li>
                            </u1>
                            <small>Insurance | Lille, FRANCE</small>
                            <br>
                            <small>Pharmaceuticals | Brussels, BELGIUM</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <li>Azure DevOps</li>
                            <li>Python: SQLAlchemy, Pandas, PyTest</li>
                            <li>HP ALM</li>
                            <li>T-SQL</li>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-title">
                            <h3>TEST ANALYST</h3>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-title">
                            <h3>2014 - 2017</h3>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <u1>
                                <li>Assistance in Definition of the qualification strategy</li>
                                <li>Test cases design and execution</li>
                                <li>Bugs detection and monitoring their resolution</li>
                                <li>Participation in continuous integration project</li>
                            </u1>
                            <small>Insurance/Telecoms | Lille, FRANCE</small>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <p>HP ALM</p>
                            <p>JIRA</p>
                            <p>SQL</p>
                            <p>Selenium</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- .section-experience -->

<section class="section-education section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title"><h2>Education</h2></div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>May 2019</small>
                            <h3>DevOps training</h3>
                            <h4>DevOps institute</h4>
                            <p>Paris, France</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>October 2018</small>
                            <h3>ISTQB Test manager training</h3>
                            <h4>International Software Testing Qualifications Board</h4>
                            <p>Paris, France</p>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2013 - 2014</small>
                            <h3>Master degree in IT</h3>
                            <h4>Pau university</h4>
                            <p>Anglet, France</p>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="content-item">
                            <small>2009 - 2013</small>
                            <h3>Engineer degree in computer science</h3>
                            <h4>National School of Informatics</h4>
                            <p>Rabat, Morocco</p>
                        </div>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<!-- .section-education -->

<section class="section-contact section-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-md-3">
                <div class="section-title">
                    <h2>Contact</h2>
                </div>
            </div>
            <div class="col-md-9">
                <div class="row">
                    <div class="col-md-4">
                        <address>
                            <strong>Address</strong>
                            <br>
                            229 Solferino street
                            <br>
                            Lille, 59139 FRANCE
                        </address>
                    </div>
                    <div class="col-md-4">
                        <address>
                            <strong>Phone Number</strong>
                            <br>
                            +33 7 51 49 28 06
                        </address>
                    </div>
                    <div class="col-md-4">
                        <address>
                            <strong>Email</strong><br>
                            <a href="mailto:orached@gmail.com">orached@gmail.com</a>
                        </address>
                    </div>

                </div>
            </div>
        </div>
    </div>
</section>
<!--.section-contact-->

</div>
<!-- #main-wrapper -->
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"></script>
    <script src="https://use.fontawesome.com/releases/v5.0.8/js/all.js"></script>
{% endblock %}