{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block styles %}
    {{ super() }}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.css" rel="stylesheet">
{% endblock %}

{% block app_content %}
<div class="page-header">
    <h1>{{ _('Edit Post') }}</h1>
</div>
<div>
    {{ wtf.quick_form(form) }}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/summernote/0.8.12/summernote.js"></script>
    <script>
        $(document).ready(function() {
            $('#post_body').summernote();
        });
    </script>
    <br>
{% endblock %}